@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #8894DB, #A16AD9);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6a7b8dd8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
  color: #C66AD9; 
  text-align: center;
  text-shadow: 1px 1px 2px #6a3974d3; 
}

h2{
   color: #7D6AD9; 
   text-align: left;
   text-shadow: #4b3f84d9;
}

p{
    text-align: justify;
}